<ul>
  <li class="facebook"><a href="http://www.facebook.com" target="_blank">Facebook</a></li>
  <li class="twitter"><a href="https://twitter.com" target="_blank">Twitter</a></li>
  <li class="youtube"><a href="http://www.youtube.com" target="_blank">YouTube</a></li>
</ul>

<div class="column info">
  <h3>Order</h3>
  <app-top-bar></app-top-bar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
 <div *ngIf="router.url == '/'">
   <p>our products</p>
   <div *ngFor="let product of products" class="product">
     <img src="http://localhost:3000/{{product.image}}">
     <h2>{{product.name}}</h2>
     <p>type: {{product.type}}</p>
     <p>price: {{product.price}}</p>
   </div>
 </div>
  <p><br> Welcome to our Webshop!<br/></p>
  <div class="footer">
    <div class="footer-menu-wrapper">
      <div class="column information">
        <h3>Information</h3>
        <ul>
          <li><a routerLink="/shipping">Shipping Prices</a></li>
          <li><a routerLink="/privacy">Privacy Policy</a></li>
          <li><a routerLink="/conditions">Terms of Use</a></li>
        </ul>
      </div>

      <div class="column follow-us">
        <h3>Follow us</h3>
        <ul>
          <li><a routerLink="/order">Order</a></li>
          <li>Contact Us</li>
          <li><a routerLink="/conditions">Terms of Use</a></li>
        </ul>
      </div>
      <div class="footer-poweredby">
        Powered by Fetching

      </div>
      <div class="footer-disclaimer">
        Copyright &copy; 2020 Fetching Web Shop. All rights reserved.
      </div>


    </div>
